---
## General pipeline parameters:

# Name of the pipeline:
pipeline: "pipeline-isONclust2_dmel/results"
# ABSOLUTE path to directory holding the working directory:
workdir_top: "evaluation"
# Repository URL:
repo: "https://github.com/nanoporetech/pipeline-isONclust2.git"

## Pipeline-specific parameters:
cores: 50

# cDNA or direct RNA reads in fastq format
reads_fastq: "evaluation/pipeline-isONclust2_dmel/data/FL_ERR3588905_1.fastq"

# Batch size in kilobases (if -1 then it is calculated based on the number of cores and bases):
batch_size: -1

# Maximum sequences per input batch (-1 means no limit):
batch_max_seq: 60000

# Clustering mode:
cls_mode: "sahlin"

# Kmer size:
kmer_size: 11

# Window size:
window_size: 15

# Consensus period (-1 means no consensus):
consensus_period: 500

# Minimum consensus sample size:
consensus_minimum: 50

# Maximum consensus sample size:
consensus_maximum: -150

# Minimum number of minimizers shared between read and cluster:
min_shared: 5

# Minimum average quality value:
min_qual: 7.0

# Minmum mapped fraction of read to be included in cluster:
mapped_threshold: 0.65

# Minimum aligned fraction of read to be included in cluster:
aligned_threshold: 0.2

# Minimum fraction of minimizers shared compared to best hit, in order to continue mapping:
min_fraction: 0.8

# Minimum probability for i consecutive minimizers to be different between read and representative:
min_prob_no_hits: 0.1 
